/* Hide WooCommerce-related template if WooCommerce is not active */
.dataviews-view-grid__card:has(
		button.page-templates-preview-field__button[aria-label="checkout"]
	),
.dataviews-view-grid__card:has(
		button.page-templates-preview-field__button[aria-label="single-product"]
	),
.dataviews-view-grid__card:has(
		button.page-templates-preview-field__button[aria-label="archive-product"]
	) {
	display: none !important;
}

#site-editor .dataviews-view-table tr:has(a[href*="postId=extendable//checkout"]),
#site-editor .dataviews-view-table tr:has(a[href*="postId=extendable%2F%2Fcheckout"]),
#site-editor .dataviews-view-table tr:has(a[href*="postId=extendable//single-product"]),
#site-editor .dataviews-view-table tr:has(a[href*="postId=extendable%2F%2Fsingle-product"]),
#site-editor .dataviews-view-table tr:has(a[href*="postId=extendable//archive"]),
#site-editor .dataviews-view-table tr:has(a[href*="postId=extendable%2F%2Farchive"]) {
	display: none !important;
}

.dataviews-view-table tr:has(a[href*='postId=extendable//checkout']),
.dataviews-view-table tr:has(a[href*='postId=extendable//single-product']),
.dataviews-view-table tr:has(a[href*='postId=extendable//archive-product'])
{
	display: none !important;
}
