<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"var(--wp--custom--spacing--large)","top":"var(--wp--custom--spacing--large)"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--custom--spacing--large);padding-bottom:var(--wp--custom--spacing--large)">
	<!-- wp:post-title {"level":1,"align":"wide","fontSize":"x-large"} /-->

	<!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"padding":{"top":"0rem","right":"0rem","bottom":"1.5rem","left":"0rem"}}}} /-->

	<!-- wp:separator {"align":"wide","className":"is-style-wide"} -->
	<hr
		class="wp-block-separator alignwide has-alpha-channel-opacity is-style-wide"
	/>
	<!-- /wp:separator -->

	<!-- wp:spacer {"height":"1rem"} -->
	<div style="height: 1rem" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
