<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull">

	<!-- wp:woocommerce/cart {"align":"wide"} -->
	<div class="wp-block-woocommerce-cart alignwide is-loading"><!-- wp:woocommerce/filled-cart-block -->
	<div class="wp-block-woocommerce-filled-cart-block"><!-- wp:woocommerce/cart-items-block -->
	<div class="wp-block-woocommerce-cart-items-block"><!-- wp:woocommerce/cart-line-items-block -->
	<div class="wp-block-woocommerce-cart-line-items-block"></div>
	<!-- /wp:woocommerce/cart-line-items-block --></div>
	<!-- /wp:woocommerce/cart-items-block -->

	<!-- wp:woocommerce/cart-totals-block -->
	<div class="wp-block-woocommerce-cart-totals-block"><!-- wp:woocommerce/cart-order-summary-block -->
	<div class="wp-block-woocommerce-cart-order-summary-block"></div>
	<!-- /wp:woocommerce/cart-order-summary-block -->

	<!-- wp:woocommerce/cart-express-payment-block -->
	<div class="wp-block-woocommerce-cart-express-payment-block"></div>
	<!-- /wp:woocommerce/cart-express-payment-block -->

	<!-- wp:woocommerce/proceed-to-checkout-block -->
	<div class="wp-block-woocommerce-proceed-to-checkout-block"></div>
	<!-- /wp:woocommerce/proceed-to-checkout-block -->

	<!-- wp:woocommerce/cart-accepted-payment-methods-block -->
	<div class="wp-block-woocommerce-cart-accepted-payment-methods-block"></div>
	<!-- /wp:woocommerce/cart-accepted-payment-methods-block --></div>
	<!-- /wp:woocommerce/cart-totals-block --></div>
	<!-- /wp:woocommerce/filled-cart-block -->

	<!-- wp:woocommerce/empty-cart-block -->
	<div class="wp-block-woocommerce-empty-cart-block">
	<!-- wp:heading {"textAlign":"center","className":"wc-block-cart__empty-cart__title"} -->
	<h2 class="has-text-align-center wc-block-cart__empty-cart__title">Your cart is currently empty!</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center"><a href="/shop/">Browse store</a>.</p>
	<!-- /wp:paragraph -->

	<!-- wp:separator {"className":"is-style-dots"} -->
	<hr class="wp-block-separator is-style-dots"/>
	<!-- /wp:separator -->

	<!-- wp:heading {"textAlign":"center"} -->
	<h2 class="has-text-align-center">New in store</h2>
	<!-- /wp:heading -->

	<!-- wp:woocommerce/product-new {"rows":1} /--></div>
	<!-- /wp:woocommerce/empty-cart-block --></div>
	<!-- /wp:woocommerce/cart --></main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
